body {
background-color: Gainsboro;
font-size: 20px;
}

h1 {
font-size: 40px;
color: White;
font-family:sans-serif;
text-align: center;
text-decoration: overline;
letter-spacing: 3px;
text-shadow: 3px 2px IndianRed;
margin-right: 80px;
margin-left: 80px;

}


h2 {
  font-size: 20px;
  color: IndianRed;
  font-family:sans-serif;
  text-align: center;
  letter-spacing: 3px;
  margin-right: 80px;
  margin-left: 80px;
}

h3 {
  font-size: 20px;
  color: Black;
  font-family:sans-serif;
  text-align: center;
  letter-spacing: 3px;
  margin-right: 80px;
  margin-left: 80px;
}

p {
  font-size: 20px;
  color: IndianRed;
  font-family:sans-serif;
  text-align: justify;
  letter-spacing: 1.5px;
  margin-right: 80px;
  margin-left: 80px;

}
