body {
background-color: lightgrey;
font-size: 20px;
}

.header {
  position: fixed;
  top: 10px;
  width:100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 4vw;
  font-style: bold;
  color: White;
  font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
  letter-spacing: 3px;
  text-shadow: 2px 2px White;
  z-index: 2;
  margin-bottom: 10px;
}


img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

h1{
  font-size: 20px;
  color: black;
  font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
  text-align: center;
  text-transform:capitalize;
  margin-right: 80px;
  margin-left: 80px;
}

h2{
  font-size: 50px;
  color: black;
  font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
  text-align: center;
  margin-right: 80px;
  margin-left: 80px;
}

blockquote{
  font-size: 20px;
  color: White;
  font-family:arial;
  text-align: center;
  border: 4px solid white;
  font-style: italic;
  padding: 20px;
  margin-top:7%;
  margin-bottom:2%;
  margin-right: 50px;
  margin-left:50px;
}







.row{

}

.col{
float: left;
}

.col1of2{
height: 400px;
width: 50%;
padding-top: 30px;
padding-bottom: 30px;
overflow: scroll;
}

.col1of3{
width: 40%;
height: 400px;
padding-top: 30px;
padding-bottom: 30px;
overflow: scroll;
}

.col1of4{
width: 60%;
height: 405px;
padding-top: 30px;
padding-bottom: 30px;
overflow: scroll;
}

.col1of1{
width: 100%;
height: 250px;
padding-top: 30px;
padding-bottom: 30px;
overflow: scroll;
}

.col2of3{
width: 75%;
height: 250px;
padding-top: 30px;
padding-bottom: 30px;
overflow: scroll;
}



.one {
background-color: white;
}

.two {
background-color: white;
}

.three {
background-color:white;
}

.four{
background-color: white;
}

.five {
background-color: white;
}





ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color:lightgrey;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: arial;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

li a:hover {
    background-color: white ;
    color: black;
  }
