body {
background-color: white;
font-size: 20px;
}

.header {
  position: fixed;
  margin-top: 25%;
  text-align: center;
  width:100%;
  text-transform: uppercase;
  font-size: 5vw;
  color: hotpink;
  font-family:arial;
  text-shadow: 3px 3px lightgrey;
  letter-spacing: 3px;
  z-index: 2;
  left:-45%;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.header a {
  text-decoration: none}

  a:visited {
      color: hotpink;
      background-color: transparent;
      text-decoration: none;
  }
.header :hover {
    color: lightskyblue;
}


.lady{
  padding: 100px;
  padding-top: 10px;
  position: relative;
}


.line1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 7s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.line2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 20s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.line3 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 20s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}


.line4 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 20s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}



ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color:white;
}

li {
    float: center;
}

li a {
    display: block;
    color: hotpink;
    text-align: center;
    padding: 14px 16px;
    font-family: arial;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

li a:hover {
    background-color: #DCDCDC ;
    color: black;
  }
