body {
background-color: white;
font-size: 20px;
}

.header {
  position: fixed;
  margin-top: 24%;
  text-align: center;
  width:100%;
  text-transform: uppercase;
  font-size: 4vw;
  color: hotpink;
  font-family:arial;
  text-shadow: 3px 3px lightgrey;
  letter-spacing: 3px;
  z-index: 2;
  left:-25%;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


.header a {
  text-decoration: none}

  a:visited {
      color: hotpink;
      background-color: transparent;
      text-decoration: none;
  }
.header :hover {
    color: lightskyblue;
}



.right {

  position: fixed;
  margin-top: 24%;
  text-align: center;
  width:100%;
  text-transform: uppercase;
  font-size: 4vw;
  color: hotpink;
  font-family:arial;
  text-shadow: 3px 3px lightgrey;
  letter-spacing: 3px;
  z-index: 2;
  right:-25%;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}


.right a {
  text-decoration: none}

  a:visited {
      color: hotpink;
      background-color: transparent;
      text-decoration: none;
  }
.right :hover {
    color: lightskyblue;
}


img{
  max-width: 25%;
  height: auto;
  display: block;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
