body {
  background-color: black;
}

.header {
  position: fixed;
  transform: rotate(90deg);
	transform-origin: left top 0;
  float: left;
  top:30px;
  left:50px;
  text-align: left;
  text-decoration: overline;
  font-size: 2.5vw;
  text-shadow: 3px 3px black;
  text-transform: uppercase;
  color: #FECC01;
  font-family: arial;
  letter-spacing: 3px;
  width:100%;
  z-index: 100;

  border-style: solid;
  border-width: 10px;
  background-color: white;
  border-color: white;
}

.panel {
  width: 50vw;
  height:100vh;
}

.left {
  background-color: white;
  width: 50vw;
  height: 100vh;
  position: fixed;
  overflow: scroll;
  z-index: 50;
}


.row.text .item {
  width: 50vw;
  height: auto;
  padding:50px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 20px;
  text-align: center;
  font-family: arial;
  line-height: 30px;
  font-size: 2vw
}

.item.first {
  background: black;
  text-shadow: 2px 2px grey;
  color: white;
  text-transform: uppercase;

}

.item.second {
  background: white;
 text-shadow: 2px 2px grey;
   color: black;
     text-transform: uppercase;

}

.item.third {
  background: black;
  text-shadow: 2px 2px grey;
  color: white;
    text-transform: uppercase;
  }

.item.fourth {
  background: white;
 text-shadow: 2px 2px grey;
   color: black;

}

.right {
  background-color: white;
  width: 50vw;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top:0%;
  right:-60px;
  width: 43vw;
  height:100vh;
  overflow: scroll;
  -webkit-transform: rotate(-90deg) translateY(-250px) translateX(0px);
          transform: rotate(-90deg) translateY(-76px) translateX(0px);
  -webkit-transform-origin: right center top;
          transform-origin: right center top;
}

.horizontal-scroll-wrapper > div {
  padding: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
          height: 600px;
}

.horizontal-scroll-wrapper > div img{
width:100%;
border-radius: 20%;
}

.caption {
  position: fixed;
  bottom:50px;
  right:0px;
  padding: 20px;
  color: #FECC01;
  width:50%;
  text-align: center;
  font-size: 28px;
  font-family: arial;
  text-shadow: 2px 2px grey;
  visibility: hidden;
}

.c-show {
  visibility: visible;
}
