body {
  background-color: black;
}

.header {
  position: fixed;
  transform: rotate(90deg);
	transform-origin: left top 0;
  float: left;
  top:10%;
  left:40px;
  text-align: left;
  text-decoration: overline;
  font-size: 2.5vw;
  text-transform: uppercase;
  color: #4addd2;
  font-family: arial;
  letter-spacing: 3px;
  width:100%;
  z-index: 100;
}

.panel {
  width: 50vw;
  height:100vh;
}

.left {
  background-color: white;
  width: 50vw;
  height: 100vh;
  position: fixed;
  overflow: scroll;
  z-index: 50;
}


.row.text .item {
  width: 50vw;
  height: auto;
  padding:50px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-family: arial;
  line-height: 23px;
}

.item.first {
  background: white;

}

.item.second {
  background: white;
}

.item.third {
  background: white;
}

.item.fourth {
  background: white;
}

.right {
  background-color: white;
  width: 50vw;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top:0%;
  right:-60px;
  width: 43vw;
  height:100vh;
  overflow: scroll;
  -webkit-transform: rotate(-90deg) translateY(-250px) translateX(0px);
          transform: rotate(-90deg) translateY(-76px) translateX(0px);
  -webkit-transform-origin: right center top;
          transform-origin: right center top;
}

.horizontal-scroll-wrapper > div {
  padding: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
          height: 600px;
}

.horizontal-scroll-wrapper > div img{
width:100%;
}


.caption {
  position: fixed;
  bottom:50px;
  right:0px;
  color:#fff;
  width:50%;
  text-align: center;
  font-size: 30px;
  font-family: arial;
  text-transform: uppercase;
  visibility: hidden;
}

.c-show {
  visibility: visible;
}










.word{
    width: 30vw;
    color: white;
    font-family: verdana;
    font-size: 50px;
    line-height: 50px;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 10vw;
    z-index: 5;
}
